.profile {
    display: grid;
    margin: 0 0;
    grid-template-areas: "pic pic" "a a";
    grid-template-rows: 300px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.picture {
    grid-area: pic;
}

.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
