.modulePaginator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectedPage {
    font-weight: bold;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    border: 1px solid darkblue;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: white;
}
